/* ---- button -----*/

.btn {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 15px 15px !important;
  }
  
  .btn.btn-primary.btn-lg.active {
    background-color: #ee6b78 !important;
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 .2rem #dc3545 !important;
  }
  
  .btn-primary {
    background-color: #6886bb !important;
  /*  border-color: #507ee0 !important;
    box-shadow: 0 0 0 .1rem #436eca  !important;
  */
  }
  
  /* ------------------------------
  DATAFRAME RENDERING
  ---------------------------------*/
  
  .dataframe {
    border: none
  }
  
  .dataframe table {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: black ;
    font-size: 12px;
    table-layout: fixed;
  }
  
  .dataframe thead {
    border-bottom: 1px solid black ;
    vertical-align: bottom;
  }
  
  .dataframe tr, .dataframe th, .dataframe td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
  }
  
  .dataframe th {
    font-weight: bold;
  }
  .dataframe tbody tr:nth-child(odd) {
    background: #f5f5f5;
  }
  .dataframe tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
  }



/*----------------
BANNER HERO
---------------*/


@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }
}

.hero-media {
  display: flex;
  height: 100%;
  flex: 0 0 30% !important ;
  max-width: 30% !important;
}



/*------------------------------
CARDS
-------------------------------*/

.card {
  cursor: pointer;
}


/*-------------------------
ARTICLES LAYOUT
--------------------------*/

/* nicer scroll on toc */
html {
	scroll-behavior: smooth;
}

.article > .article-header {
  max-width: 740px !important; 
}



/*
.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.card.expanded .chevron {
  transform: rotate(0deg);
}
.card.expanded {
  max-height: 400px 
}
.card.expanded .article-style{
  display: none ;
  transition: transform 1000ms;
}
*/

/*-----------
.card.expanded {
  max-height: 1000px;
}
-----------*/

/*
.card-image {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}
.card.expanded .card-image {
  transform: translateY(0);
}
*/

/*----------
.card {
  max-height: 400px;
}
.card.expanded {
  max-height: none;
}

.card .article-style {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 1000ms;
  overflow: hidden;
}

.card.expanded .article-style {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}

.card .article-style {
  transform: translateY(-160px);
  transition: transform 1000ms;
}

.card.expanded .article-style {
  transform: translateY(-15px);
}
--------------
*/