#title-block-header {
    display: none ;
  }
  
  #hero-banner code {
    color:white ;
    background-color: transparent !important;
    font-weight: bolder ;
 }
  

#hero-banner {
    padding-top: 35px;
    background-color: #6886bb;
    color: white;
  }

  #quarto-content main { 
    margin-top: 0;
    padding-top: 0;
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  .headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
  }
  
  .headline p {
    margin: 0;
    padding-bottom: 0.2rem;
    font-weight: bolder;
    line-height: 32px;   /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
  }
  
  .headline a {
    text-decoration: underline;
    color: white !important ;
    font-weight: bolder;
  }
  
  .headline ul li {
    margin-bottom: 0.3em;
  }
  